<div class="background">
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="filling-remaining-space"></div>
        <img
            src="assets/img/Logo_Dunkermotorn_weiß.png"
            class="dunker-picture"
        />
        </nav>
    <div class="container">

    <div class="text-center margin-top-large">
        <h1>Attention please!</h1>
        <h3>Our linear pick and place system will catch your favorite chocolate <br> - accurate and in high-speed.</h3>
    </div>

    <div class="margin-top-large preloader">
        <div class="loader"></div>
    </div>
    </div>
</div>
<div class="footer">
    <div class="d-flex flex-wrap justify-content-end">
        <img class="footer-pics" src="assets/img/dunker_logo.png">
        <img class="footer-pics" src="assets/img/linkit_logo.png">
    </div>
  </div>