<div class="background">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: none;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="disableAdmin()"
        >
          Control
        </button>
      </ul>
    </div>
  </nav>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Admin dashboard login</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="disableAdmin()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" class="form-inline" *ngIf="!this.admin">
            <div class="form-group mb-2">
              <label for="staticEmail2" class="sr-only">User</label>
              <input
                required [(ngModel)]="user.name"
                type="text"
                readonly
                class="form-control"
                id="staticEmail2"
                value="Admin"
                name="name"
              />
            </div>
            <div class="form-group ml-2 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input
                required [(ngModel)]="user.password"
                type="password"
                class="form-control"
                id="inputPassword2"
                placeholder="Password"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-2">
              Confirm identity
            </button>
          </form>
          <div class="text-center py-3 d-flex flex-column" *ngIf="this.admin">
              <div *ngIf="this.backend.gantry.status == 0" class="py-3">
                <button type="button" (click)="callInit()" class="btn btn-success">Initialize</button>
              </div>
              <div *ngIf="this.backend.gantry.status != 0 && this.backend.gantry.status != 5 && this.backend.gantry.status != 1" class="py-3">
                    <button type="button" (click)="callMaintenance()" class="btn btn-warning">Maintenance</button>
              </div>
              <div *ngIf="this.backend.gantry.status == 5" class="btn btn-warning" class="py-3">
                <button type="button" (click)="resetMaintenance()" class="btn btn-warning">Reset after Maintenance</button>
               </div>
              <div *ngIf="this.backend.gantry.status != 0" class="py-3">
                    <button type="button" (click)="callShutdown()" class="btn btn-danger">Shutdown Gantry</button>
              </div>
          </div>
          <div *ngIf="this.backend.gantry.connected == true">
            <p>
              Status: {{this.backend.gantry.status}}
            </p>
            <p>Uptime: {{this.backend.gantry.upTime}}</p>
            <p>
              Available Candies: {{this.backend.gantry.availableCandies}}
            </p>
            <p>
              Processed Candies: {{this.backend.gantry.processedCandies}}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="disableAdmin()" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h1 class="dunker-color margin-top-large">Play and enjoy</h1>
    <div class="margin-top-large">
      <h2>Do you like chocolate?</h2>
      <button
        [disabled]="this.diabledButton"
        type="button"
        class="animated-btn mt-5"
        routerLink="/carousel"
      >
        <h3 class="text-white">
          <span *ngIf="this.timeLeft <= 0 && this.backend.gantry.status != 0">Get one</span>
          <span *ngIf="this.timeLeft > 0 && this.backend.gantry.status != 0"
            >Wait for {{ this.timeLeft }} sec</span
          >
          <span *ngIf="this.backend.gantry.status == 0"
            >Not initialized</span
          >
        </h3>
      </button>
    </div>
  </div>
  <div class="footer">
    <div class="d-flex flex-wrap justify-content-end">
        <img class="footer-pics" src="assets/img/dunker_logo.png">
        <img class="footer-pics" src="assets/img/linkit_logo.png">
    </div>
  </div>
</div>
