
// Change: Hintergrundbild für die Home-Seite
// linear-gradient: zum anpassen des schwarzen Overlays über dem Bild

.animated-btn {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  background: #164194;
  background: linear-gradient(90deg,#225ac6 0%, #164194 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.animated-btn:disabled {
  cursor: not-allowed;
  background: linear-gradient(90deg,#969696 0%, #727272 100%);
}

.animated-btn:enabled::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #164194;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.animated-btn:enabled::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #164194;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.animated-btn:hover, .button:focus {
  color: #fff;
  transform: translateY(-6px);
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}