<div class="background">
    <div class="container text-center">
        <div class="margin-top-large">
                <h1 class="dunker-color">
                        Thank you!
                    </h1>
                    <h2 class="mt-5">Grab your chocolate and enjoy.</h2>
        </div>       
    </div>
</div>
<div class="footer">
    <div class="d-flex flex-wrap justify-content-end">
        <img class="footer-pics" src="assets/img/dunker_logo.png">
        <img class="footer-pics" src="assets/img/linkit_logo.png">
    </div>
  </div>